body {

    background-color:
    background: rgb(235,241,246);
    background: -moz-radial-gradient(center, ellipse cover,  rgb(235,241,246) 0%, rgb(213,235,251) 46%, rgb(213,235,251) 46%, rgb(171,211,238) 85%, rgb(171,211,238) 85%, rgb(137,195,235) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(235,241,246) 0%,rgb(213,235,251) 46%,rgb(213,235,251) 46%,rgb(171,211,238) 85%,rgb(171,211,238) 85%,rgb(137,195,235) 100%);
    background: radial-gradient(ellipse at center,  rgb(235,241,246) 0%,rgb(213,235,251) 46%,rgb(213,235,251) 46%,rgb(171,211,238) 85%,rgb(171,211,238) 85%,rgb(137,195,235) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#89c3eb',GradientType=1 );
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width: 1080px;
    list-style: none;
}

div {
    font: verdana 12px #000;
    position:relative;
}
a {
    text-decoration: none;
}
#container {
    width:1080px;
    height:100%;
    border-left:solid #34381d 2px;
    border-right:solid #34381d 2px;

}
#header {
    background: #fff url(assets/images/banerek%203.png) no-repeat;
    width:auto;
    height:253px;
    background-position: center;
}
#header h1 {
    background-color: transparent;
    position: static;
    font-size: 40px;
    font-family: "Lucida Handwriting";
    color: coral;
    /* Padding */
    padding-left: 3%;
    padding-top: 3.5%;
}


#menu {
    background: #fff url(assets/images/menu.jpg) repeat;
    width:auto;
    height:44px;
    margin-top:-16px;
}
#menu a {
    display: block;
    padding: 0px 26px 24px 24px;
    color:#f7f7f7;
    margin-top:8px;
    float: left;
    text-align:center;
    font-weight: bold;
}
#menu a:hover {
    margin-top:8px;
    color:dodgerblue;
    }

.mainContent {
    overflow: hidden;
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 4%;
    margin-bottom: 2%;
    }
.mainContent h2	{
    font-size: 40px;
    font-family: "Elephant" ;
    }

.topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;
    margin-bottom: 4%;
    text-align: justify;
}

.topcontent iframe {
    width: 70%;
    margin-top: 1%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1%;
    padding-left: 0;
    }

.bottomcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;
    text-align: justify;
    }

.content {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.footer {
    width: 50%;
    float: left;
    margin: 2% 25%;
    padding-left: 0;
    background-color: #666;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    color: #FFF;
    text-align: center;
}

.footer a, .footer a:link, .footer a:visited, .footer a:active, .footer a:hover {
    color: greenyellow;
}
.footer a:hover {
    color: #333333;
}