body {

        background-color:
		background: rgb(235,241,246);
		background: -moz-radial-gradient(center, ellipse cover,  rgb(235,241,246) 0%, rgb(213,235,251) 46%, rgb(213,235,251) 46%, rgb(171,211,238) 85%, rgb(171,211,238) 85%, rgb(137,195,235) 100%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(235,241,246) 0%,rgb(213,235,251) 46%,rgb(213,235,251) 46%,rgb(171,211,238) 85%,rgb(171,211,238) 85%,rgb(137,195,235) 100%);
		background: radial-gradient(ellipse at center,  rgb(235,241,246) 0%,rgb(213,235,251) 46%,rgb(213,235,251) 46%,rgb(171,211,238) 85%,rgb(171,211,238) 85%,rgb(137,195,235) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#89c3eb',GradientType=1 );
	margin-top:50px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;
		width: 1080px;
		list-style: none;
    }

div {
        font: verdana 12px #000;
        position:relative;
    }
a {
		text-decoration: none;
	}
#container {
width:1080px;
height:100%;
border-left:solid #34381d 2px;
border-right:solid #34381d 2px;

}
#header {
		/* banner downloaded from http://www.freepik.com */
        background: #fff url(assets/images/banerek%203.png) no-repeat;
        width:auto;
        height:253px;
		background-position: center;
	}
#header h1 {
	background-color: transparent;
	position: static;
		font-size: 40px;
	font-family: "Lucida Handwriting";
	color: coral;
	/* Padding */
	padding-left: 3%;
	padding-top: 3.5%;
	}


#menu {
        background: #fff url(assets/images/menu.jpg) repeat;
        width:auto;
        height:44px;
		margin-top:-16px;
	}
#menu a {
		display: block;
		padding: 0px 26px 24px 24px;
		color:#f7f7f7;
		margin-top:8px;
		float: left;
		text-align:center;
		font-weight: bold;
	}
#menu a:hover {
		margin-top:8px;
		color:dodgerblue;
	}

#photo	{
	background-color: transparent;
	float: left;
	width: 40%;
	/* Padding */
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
}

#video {
	width: 70%;
	margin-left: 25%;
	}
#video h2	{
	font-size: 40px;
	font-family: "Elephant" ;
	/* Border */
	border-color: transparent;
	border-style: solid;

}

#form {
	float: left;
	width: 40%;
	/* Padding */
	margin-top: 7%;
	margin-bottom: 2%;
	}

#form2 {
	float: left;
	width: 80%;
	/* Padding */
	margin-top: 7%;
	margin-bottom: 2%;
	margin-left: 10%;
}

#contactdetails h2	{
	font-size: 40px;
	font-family: "Elephant" ;
	text-align: center;
	/* Border */
	border-color: transparent;
	border-style: solid;
	border-width: 3%;
}
#contactdetails {
	background-color: lightgrey;
	float: right;
	width: 30%;
	-webkit-border-radius: 10px;
	margin-top: 7%;
}
#game h2	{
	font-size: 40px;
	font-family: "Elephant" ;
	/* Border */
	border-color: transparent;
	border-style: solid;
	border-width: 3%;
}
#objective {
	background-color: lightgrey;
	float: right;
	width: 50%;
	-webkit-border-radius: 10px;
	margin-top: 5%;
	}
#objective h2	{
	font-size: 40px;
	font-family: "Elephant" ;
	/* Border */
	border-top-style: solid;
	border-top-color: transparent;
	border-right-style: solid;
	border-right-color: transparent;
	border-left-style: solid;
	border-left-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}
#objective p {
	font-size: 14px;
	font-family: "Calibri" ;
	line-height:2;
	text-align: justify;
	text-justify: inter-word;
	/* Border */
	border-color: transparent;
	border-style: solid;
	border-width: 3%;
}

.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 4%;
	margin-bottom: 2%;
}
.mainContent h2	{
	font-size: 40px;
	font-family: "Elephant" ;
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2% 5%;
	margin-bottom: 4%;
	text-align: justify;
}

.bottomcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2% 5%;
	text-align: justify;
}

.content {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.footer {
	width: 50%;
	float: left;
	margin: 2% 25%;
	padding-left: 0;
	background-color: #666;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	color: #FFF;
	text-align: center;
	}

.footer a, .footer a:link, .footer a:visited, .footer a:active, .footer a:hover {
	color: greenyellow;
}
.footer a:hover {
	color: #333333;
}
